{:version 1, :predicates {:osmotic-pressure-pa {:patterns ["(?i)osmotic\\s+pressure\\s*(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)\\s*Pa"], :predicate :osmotic-pressure-pa, :subject :sol, :value-kind :real, :word-to-int {}}, :vant-hoff-i {:patterns ["(?i)van[' \\s]*t\\s*Hoff(?:\\s+factor)?\\s*(?:i\\s*)?(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)"], :predicate :vant-hoff-i, :subject :sol, :value-kind :real, :word-to-int {}}, :molarity {:patterns ["(?i)molarity\\s*(?:M\\s*)?(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)"], :predicate :molarity, :subject :sol, :value-kind :real, :word-to-int {}}, :temperature-k {:patterns ["(?i)temperature\\s*(?:T\\s*)?(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)\\s*K"], :predicate :temperature-k, :subject :sol, :value-kind :real, :word-to-int {}}}}