{:version 1, :predicates {:basic-reproduction-number {:patterns ["(?i)R\\s*[_0]?\\s*=\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)"], :predicate :basic-reproduction-number, :subject :d, :value-kind :real, :word-to-int {}}, :vaccination-coverage {:patterns ["(?i)vaccination\\s+coverage\\s*(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)"], :predicate :vaccination-coverage, :subject :p, :value-kind :real, :word-to-int {}}, :herd-immunity-threshold {:patterns ["(?i)herd\\s+immunity\\s+threshold\\s*(?:=|is|of)?\\s*(?<v>[0-9]+(?:\\.[0-9]+)?)"], :predicate :herd-immunity-threshold, :subject :d, :value-kind :real, :word-to-int {}}}}
