{:version 1, :sorts [:int :real :bool :string :entity :formula :verdict :claim :source], :predicates {:hospital-beds-kemh {:arg-sorts [:entity], :return :int}, :currency-pegged-at-parity {:arg-sorts [:entity], :return :bool}, :parishes-count {:arg-sorts [:entity], :return :int}, :airport-on-island {:arg-sorts [:entity], :return :entity}, :gdp-usd-billion {:arg-sorts [:entity], :return :real}, :population {:arg-sorts [:entity], :return :int}, :binomial {:arg-sorts [:entity], :return :string}, :named-islands-and-rocks {:arg-sorts [:entity], :return :int}, :land-area-km2 {:arg-sorts [:entity], :return :real}}}